@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  color: #fff;
  background: #232528;
}

main {
  background: #232528;
  height: 100vh;
  height: 100dvh;
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color: #f5741c;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}